.homepage {
    display: flex;

    @include screen('small') {
        flex-direction: column;
        margin-top: 3rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0 5rem;
        width: 100%;

        @include screen('small') {
            margin: 0;
            order: 2;
            height: 0;
            justify-content: unset;
        }
    }

    &__name {
        font-size: 48px;
        font-weight: bold;

        @include screen('small') {
            font-size: 36px;
            text-align: center;
        }
    }

    &__h1 {
        font-size: 24px;
        color: $gray08;

        @include screen('small') {
            font-size: 20px;
            margin: 1rem;
        }

        span {
            color: $white;
            border-bottom: 2px solid $toxin;
        }
    }

    &__nav-container {
        display: flex;
        margin-top: 1.5rem;

        @include screen('small') {
            display: none;
        }

        .nav-item {
            cursor: pointer;
            margin-right: 2rem;
            text-decoration: none;
        }
    }

    &__social-container {
        display: flex;
        margin-top: 2rem;

        @include screen('small') {
            margin: 0 1rem;
        }

        .social {
            margin-right: 0.5rem;
            background: $gray01;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $toxin;
                transition: 0.3s ease-out;
                cursor: pointer;
            }
        }
    }

    &__photo {
        height: 100vh;
        margin-right: 5rem;
        display: flex;
        align-items: center;

        img {
            max-height: 500px;
            border-radius: 20px;
        }

        .overlay {
            position: relative;

            &__content {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background: $black02;
                // border-bottom: 2px solid $toxin;
                border-radius: 20px;
            }
        }

        @include screen('small') {
            height: auto;
            order: 1;
            margin: 2rem auto 1rem auto;

            img {
                max-height: 300px;
            }
        }
    }

    &__download-button {
        background: $gray01;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        width: fit-content;
        margin-top: 1rem; 

        &:hover {
            @include defaultOnHover;
        }

        @include screen('small') {
            margin: 2rem auto 0 auto;
        }
    }

    @include underlineAnimation;
}