$mainFontFamily: Poppins, sans-serif;
$ralewayFontFamily: 'Raleway', sans-serif;
$openSansFontFamily: 'Open Sans', sans-serif;

$white: #ffffff;
$toxin: #18D26E;

$gray01: rgba(255, 255, 255, 0.1);
$gray02: rgba(255, 255, 255, 0.2);
$gray05: rgba(255, 255, 255, 0.5);
$gray08: rgba(255, 255, 255, 0.8);

$black: #000;
$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);
$black06: rgba(0, 0, 0, 0.6);
$black08: rgba(0, 0, 0, 0.8);
$black09: rgba(0, 0, 0, 0.9);