.settings {
    display: flex;
    margin-top: 2.5rem;
    border-top: 1px solid $white;
    padding-top: 10px;
    width: fit-content;

    @include screen('small') {
        width: 90%;
        margin: 2rem auto 0 auto;
        justify-content: center;
    }

    &__language, &__theme {
        display: flex;

        .switcher {
            margin: 0 0.4rem;
        }

        .h3 {
            margin-top: 3px;
        }
    }

    &__divider {
        margin: 0 1rem;
        font-size: 30px;
        margin-top: -8px;
        color: $toxin;
    }
}